.web/*class selector*/
{
	font-style: italic;
	background-color: blue;

}
#para/*id selector*/
{
	color:#ddd;
}
/* *
{
	background-color:pink;

}*/
input
{
	border:2px solid #000;
}




.card
{
	border:2px solid #000;
	padding:5px;

	margin: 5px;
	flex:1;
	order:2;
	
}
.card1
{
	border:2px solid #ddd;
	padding:5px;

	margin: 5px;
	flex:1;
	order:3;
	
}
.card2
{
	border:2px solid #c45e45;
	padding:5px;

	margin: 5px;
	flex:1;
	order:1;
	
}


.main
{
	justify-content: center;
	display:flex;
	flex-direction: row-reverse;
	background-color: #DAF7A6;
	flex-wrap: wrap;
}	
}

/*media quries*/
@media screen and(max-width: 425px)
{
.main
{
	
	/*justify-content: center;*/
	display:flex;
	flex-direction: column;
	background-color: #DAF7A6;
	
}	
.card1{
	border:2px solid #ddd;
	padding:5px;

	margin: 5px;
	flex:1;
	

}
}
@media screen and (min-width: 426px) and (max-width: 768px)
{
	.main
{
	
	/*justify-content: center;*/
	display:flex;
	flex-direction: column;
	background-color: #2ECC71;
	
}	

}