h1{
    color: red;
    border: 15px solid  green;
    background-image: url(1.jpg);
    padding-left: 15px;
    padding-bottom: 15px;
    margin-left: 25px;
    font-size: x-large;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    
    }